*{
    margin: 0px;
    font-family: Inter;
}
@media screen and (max-width: 425px) {
    .navegacion{
        width: 100%;
        height: 40px;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:#006600;
        color:white; 
    }
    .navegacion a{
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 700;
    }    
    .pie{
        padding: 20px;
        background: #424242;
        color: #fff;
    }
    .ref{
        color: #fff;
        text-decoration: none;        
    }
    .leible{
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
    }    
}