*{
    margin: 0px;
    font-family: Inter;
}
@media screen and (max-width: 425px) {
    .navegacion{
        position: sticky;
        top: 0px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        background: #005500;
    }
    .navegacion a{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
    }
    .cabeza{
        padding: 20px 0px;
        background: linear-gradient(to bottom right, #00cc00, #00cccc);
        text-align: center;
        color: #fff;
    }
    .titulo1{
        font-size: 40px;
    }
    .titulo2{
        font-family: monospace;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;
    }
    .p1{
        width: 80%;
        margin: auto;
        font-size: 14px;
    }
    .enlaces{
        margin: 80px 0px 0px 0px;
    }
    .enlaces a{
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 5px;
        color: #fff;
        font-size: 24px;
    }
    .proyectos-titulo{
        height: 80px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: #080808;        
    }
    .proyectos-titulo p{
        color: #fff;
        font-size: 20px;
        font-family: monospace;
    }
    .proyecto{
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: pink;
        color: #fff;
    }
    .proyecto h2{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .boton{
        width: 200px;
        height: 50px;
        background: rgba(0,0,0,0.5);
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
    }
    .pie{
        background: #424242;
        color: #fff;
    }
}
@media screen and (max-width: 769px){
    .navegacion{
        padding: 10px;
        font-size: 30px;
    }
    .titulo1{
        font-size: 40px;
    }
    .titulo2{
        font-size: 30px;
    }
    .p1{
        font-size: 16px;
    }
    .contenedor-proyectos{
        width: 100%;
    }    
}
@media screen and (max-width: 1024px){
    
}