*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.navegacion{
    padding: 10px;
    font-size: 30px;
}
.contenedor-proyectos{
    display: flex;
}
@media screen and (max-width: 480px) {
    .titulo1{
        font-size: 40px;
    }
    .titulo2{
        font-size: 30px;
    }
    .p1{
        font-size: 16px;
    }
    .contenedor-proyectos{
        width: 100%;
    }
}
@media screen and (max-width: 769px){
    .titulo1{
        font-size: 40px;
    }
    .titulo2{
        font-size: 30px;
    }
    .p1{
        font-size: 16px;
    }
    .contenedor-proyectos{
        width: 100%;
    }    
}
@media screen and (max-width: 1024px){
    .titulo1{
        font-size: 40px;
    }
    .titulo2{
        font-size: 30px;
    }
    .p1{
        font-size: 16px;
    }
    .contenedor-proyectos{
        width: 100%;
    }
}