*{
    margin: 0px;
    color: #fff;
    font-family: Inter, arial, sans-serif;
}
.bg-none{
    background: none;
}
.bg-gray{
    background: #383838;
}
.m-5{
    margin: 5px;
}
.py-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.w-29{
    max-width: 29%;
}
.mt-derecho{
    margin: 5rem 1.5rem 0rem auto;
}
.external-link{
    color: #3cf73c;
    font-size: 0.9em;
    font-weight: 700;
    cursor: pointer;
}
.border{
    border: 1px solid #E1E1E1;
}
.divisor{
    width: 90%;
    margin: 2em auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.disclaimer{
    padding: 1em;
    background: #001100;
    color: #C0C0C0;
    line-height: 1.5em;
    font-size: 0.9em;
    font-weight: 400;
}
@media (hover: hover){
    .list-r-item:hover{
        background: #fff;
        color: #383838;
        font-weight: 700;
    }
}
@media screen and (max-width: 480px) {
    .body{
        font-size: 12px;
    }
    .title-green{
        margin: 8rem 0.5rem 2rem 0.5rem;
        color: #3cf73c;
        font-family: Roboto mono, Monaco, Consolas, monospace;
        font-size: 3rem;
        font-weight: 700;
    }
    .list-r{
        max-width: 90%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 0.2em;
        padding: 0.2em 0.8em;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 0.5em;        
        color: #E1E1E1;
        font-size: 1rem;
    }
    .paragraph{
        margin: 0em 0.5em 0.5em 0.5em;
    }
    .img-small{
        width: 60%;
        margin: 5px calc(20%);
    }
    .subtitle1{
        padding: 2rem 1rem 2rem 1rem;
        font-size: 2.5em;
        font-weight: 700;
        font-family: Roboto mono, Monaco, Consolas, monospace;
    }
    .subtitle2{
        padding: 1rem;
        font-size: 2em;
        font-weight: 700;
        font-family: Roboto mono, Monaco, Consolas, monospace;
    }
    .list{
        max-width: 80%;
        margin: auto;
        padding-left: 2em;
    }
    .img-big{
        max-width: 100%;
        width: 95%;
        margin: 0.5em calc(2.5%);
    }
    .video-vertical{
        width: 50%;
        margin: 0em calc(25%);
    }
    .video-horizontal{
        width: 100%;
        margin: 0px;
    }
    .figure{
        max-width: 80%;
        margin: 0.5em calc(10%);
        display: block;
    }
    .figure-img{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .body{
        font-size: 14px;
    }
    .title-green{
        margin: 8rem 0.5rem 2rem 0.5rem;
        color: #3cf73c;
        font-family: Roboto mono, Monaco, Consolas, monospace;
        font-size: 3rem;
        font-weight: 700;
    }
    .list-r{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 0.2em;
        padding: 0.2em 0.8em;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 0.5em;        
        color: #E1E1E1;
        font-size: 1rem;
    }
    .paragraph{
        margin: 0em 1em 0.5em 1em;
    }
    .img-small{
        width: 40%;
        margin: 1em calc(30%);
    }
    .subtitle1{
        padding: 4rem 1rem 2rem 1rem;
        font-size: 2.5em;
        font-weight: 700;
        font-family: Roboto mono, Monaco, Consolas, monospace;
    }
    .subtitle2{
        padding: 2rem;
        font-size: 2em;
        font-weight: 700;
        font-family: Roboto mono, Monaco, Consolas, monospace;
    }
    .list{
        max-width: 80%;
        margin: auto;
        padding-left: 2em;
    }
    .img-big{
        max-width: 100%;
        width: 95%;
        margin: 0.5em calc(2.5%);
    }
    .video-vertical{
        width: 40%;
        margin: 0em calc(30%);
    }
    .video-horizontal{
        width: 66%;
        margin: 0em calc(17.5%);
    }
    .figure{
        max-width: 60%;
        margin: 0.5em calc(20%);
        display: block;
    }
    .figure-img{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
}
@media screen and (min-width: 769px){
    .body{
        font-size: 16px;
    }
    .title-green{
        margin: 10rem 1rem 2rem 1rem;
        color: #3cf73c;
        font-family: Roboto mono, Monaco, Consolas, monospace;
        font-size: 4rem;
        font-weight: 700;
    }
    .list-r{
        max-width: 70%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 0.2em;
        padding: 0.2em 0.8em;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 0.5em;        
        color: #E1E1E1;
        font-size: 1rem;
    }
    .paragraph{
        max-width: 80%;
        margin: 0em auto 0.5em auto;
        text-align: left;
    }
    .img-small{
        width: 40%;
        margin: 1em calc(30%);
    }
    .subtitle1{
        padding: 2rem 1rem;
        font-size: 3em;
        font-weight: 700;
        font-family: Roboto mono, Monaco, Consolas, monospace;
    }
    .subtitle2{
        padding: 2rem;
        font-size: 2rem;
        font-weight: 700;
        font-family: Roboto mono, Monaco, Consolas, monospace;
    }
    .list{
        max-width: 70%;
        margin: auto;
        padding-left: 20px;
    }
    .img-big{
        max-width: 100%;
        width: 80%;
        margin: 0.5em calc(10%);
    }
    .video-vertical{
        width: 25%;
        margin: 1em calc(37.5%);
    }
    .video-horizontal{
        width: 45%;
        margin: 0em calc(27.5%);
    }
    .figure{
        max-width: 70%;
        margin: 0.5em calc(15%);
        display: block;
    }
    .figure-img{
        width: 24%;
        margin: 0px;
        padding: 0px;
    }
}