*{
    margin: 0px;
    background: #383838;
    color: #fff;
    font-family: Inter, arial, sans-serif;
}
.bg-none{
    background: none;
}
.list-undecorated{
    list-style: none;
}
.w49{
    width: 49%;
}
@media screen and (max-width: 480px) {
    .title-green{
        padding: 100px 10px 20px 10px;
        color: #3cf73c;
        font-family: Consolas, 'Courier New', monospace;
        font-size: 44px;
        font-weight: 700;
        /*font-family: 'Cambria code', Consolas, monospace;*/
    }
    .list-r{
        width: 90%;
        margin: 60px auto 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 5px;
        padding: 5px 10px;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 5px;        
        color: #E1E1E1;
        font-size: 16px;
        font-family: Consolas, 'Courier New', monospace;
    }
    .readable{
        padding: 0px 10px 10px 10px;
        font-size: 16px;
        line-height: 24px;
    }
    .img-small{
        width: 95%;
        margin: 5px calc(2.5%);
    }
    .table-edu{
        width: calc(100% - 10px);
        margin: 0px auto;
        border: 1px solid #c0c0c0;
    }
    .col-1{
        padding: 5px;
        background: none;
        text-align: right;
        font-size: 18px;
        font-weight: 700;
    }
    .col-2{
        background: none;
    }
    .table-edu-list{
        padding: 0px 0px 0px 5px;
    }
    .table-edu-list-item{
        padding: 5px 0px;
        line-height: 20px;
    }
    .table-edu-row:nth-child(odd){
        background: #212121;
    }
    .subtitle1{
        padding: 60px 10px 20px 10px;
        font-size: 36px;
        font-weight: 700;
    }
    .subtitle2{
        padding: 20px 10px;
        font-size: 30px;
        font-weight: 700;
    }
    .list{
        max-width: 80%;
        margin: auto;
        padding-left: 20px;
    }
    .list .readable{
        padding: 0px 10px 5px 0px;
    }
    .video-vertical{
        width: 75%;
        margin: 10px calc(12.5%);
    }
    .video-horizontal{
        width: 100%;
        margin: 0px;
    }
    .disclaimer{
        padding: 10px;
        background: #000000;
        color: #c0c0c0;
        line-height: 20px;
        font-size: 14px;
        font-weight: 700;
    }
    .figure{
        max-width: 90%;
        margin: 5px calc(5%);
        display: block;
    }
    .figure-img{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .title-green{
        padding: 100px 10px 20px 10px;
        color: #3cf73c;
        font-family: Consolas, 'Courier New', monospace;
        font-size: 44px;
        font-weight: 700;
    }
    .list-r{
        width: 80%;
        margin: 90px 20px 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 5px;
        padding: 10px;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 10px;        
        color: #E1E1E1;
        font-size: 20px;
        font-family: Consolas, 'Courier New', monospace;
    }
    .readable{
        padding: 0px 10px 10px 10px;
        font-size: 18px;
        line-height: 28px;
    }
    .img-small{
        width: 65%;
        margin: 10px calc(17.5%);
    }
    .table-edu{
        width: calc(100% - 20px);
        margin: auto;
        border: 1px solid #c0c0c0;
    }
    .col-1{
        width: 25%;
        padding: 10px;
        background: none;
        text-align: right;
        font-size: 20px;
        font-weight: 700;
    }
    .col-2{
        padding: 5px;
        background: none;
    }
    .table-edu-list{
        padding: 0px 0px 0px 20px;
    }
    .table-edu-list-item{
        padding: 5px 0px;
    }
    .table-edu-row:nth-child(odd){
        background: #212121;
    }
    .subtitle1{
        padding: 60px 10px 20px 10px;
        font-size: 36px;
        font-weight: 700;
    }
    .subtitle2{
        padding: 20px 10px;
        font-size: 30px;
        font-weight: 700;
    }
    .list{
        max-width: 80%;
        margin: auto;
        padding-left: 20px;
    }
    .list .readable{
        padding: 0px 10px 10px 0px;
    }
    .video-vertical{
        width: 50%;
        margin: 10px calc(25%);
    }
    .disclaimer{
        padding: 20px;
        background: #000000;
        color: #c0c0c0;
        line-height: 20px;
        font-size: 14px;
        font-weight: 700;
    }
    .figure{
        max-width: 75%;
        margin: 10px calc(12.5%);
        display: block;
    }
    .figure-img{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
}
@media screen and (min-width: 769px){
    .title-green{
        padding: 120px 40px 20px 40px;
        color: #3cf73c;
        font-family: Consolas, 'Courier New', monospace;
        font-size: 50px;
        font-weight: 700;
    }
    .list-r{
        width: 70%;
        margin: 90px 20px 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 5px;
        padding: 10px;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 10px;        
        color: #E1E1E1;
        font-size: 20px;
        font-family: Consolas, 'Courier New', monospace;
    }
    .readable{
        padding: 0px 40px 20px 40px;
        font-size: 24px;
        line-height: 34px;
    }
    .img-small{
        width: 40%;
        margin: 20px calc(30%);
    }
    .table-edu{
        width: 80%;
        margin: auto;
        border: 1px solid #c0c0c0;
    }
    .col-1{
        width: 25%;
        padding: 10px;
        background: none;
        text-align: right;
        font-size: 24px;
        font-weight: 700;
    }
    .col-2{
        padding: 10px;
        background: none;
        font-size: 18px;
    }
    .table-edu-list{
        padding: 0px 0px 0px 20px;
    }
    .table-edu-list-item{
        padding: 10px 0px;
    }
    .table-edu-row:nth-child(odd){
        background: #212121;
    }
    .subtitle1{
        padding: 80px 40px 20px 40px;
        font-size: 40px;
        font-weight: 700;
    }
    .subtitle2{
        padding: 20px 40px;
        font-size: 36px;
        font-weight: 700;
    }
    .list{
        max-width: 70%;
        margin: auto;
        padding-left: 20px;
    }
    .list .readable{
        padding: 0px 10px 20px 0px;
    }
    .video-vertical{
        width: 30%;
        margin: 20px calc(35%);
    }
    .disclaimer{
        padding: 40px;
        background: #000000;
        color: #c0c0c0;
        line-height: 24px;
        font-size: 18px;
        font-weight: 700;
    }
    .figure{
        max-width: 75%;
        margin: 10px calc(12.5%);
        display: block;
    }
    .figure-img{
        width: 24%;
        margin: 0px;
        padding: 0px;
    }
}
@media (hover: hover){
    .list-r-item:hover{
        background: #c0c0c0;
        border: 1px solid #c0c0c0;
        color: #383838;
        font-weight: 700;
    }
}