*{
    margin: 0px;
    background: #383838;
    color: #fff;
    font-family: Inter, arial, sans-serif;
}
.bg-none{
    background: none;
}
@media screen and (max-width: 480px) {
    .title-green{
        padding: 100px 5px 20px 5px;
        color: #3cf73c;
        font-family: Consolas, 'Courier New', monospace;
        /*font-family: 'Cambria code', Consolas, monospace;*/
    }
    .list-r{
        width: 90%;
        margin: 60px auto 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 5px;
        padding: 5px 10px;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 5px;        
        color: #E1E1E1;
        font-size: 16px;
        font-family: Consolas, 'Courier New', monospace;
    }
    .readable{
        padding: 0px 10px 10px 10px;
        font-size: 16px;
        line-height: 24px;
    }
    img{
        width: 100%;
        margin: 5px 0px;
    }
    .table-edu{
        width: calc(100% - 10px);
        margin: 0px auto;
        border: 1px solid #c0c0c0;
    }
    .col-1{
        padding: 5px;
        background: none;
        text-align: right;
        font-size: 18px;
        font-weight: 700;
    }
    .col-2{
        background: none;
    }
    .table-edu-list{
        padding: 0px 0px 0px 5px;
    }
    .table-edu-list-item{
        padding: 5px 0px;
        line-height: 20px;
    }
    .table-edu-row:nth-child(odd){
        background: #212121;
    }
    /*
    h2, h3{
        padding: 20px 5px 10px 10px;
    }
    .item-lista i{
        width: 30px;
        height: 30px;
    }
    .item-lista p{
        font-weight: 400;
    }
    .lista{
        max-width: 80%;
        margin: auto;
        padding-left: 20px;
    }
    video{
        width: 50%;
        margin: 10px calc(25%);
    }
    .i-4{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
    .t-chico{
        padding: 0px 10px 10px 10px;
        font-size: 12px;
    }
    */
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .title-green{
        padding: 100px 10px 20px 10px;
        color: #3cf73c;
        font-family: Consolas, 'Courier New', monospace;
        font-size: 40px;
    }
    .list-r{
        width: 80%;
        margin: 90px 20px 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 5px;
        padding: 10px;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 10px;        
        color: #E1E1E1;
        font-size: 20px;
        font-family: Consolas, 'Courier New', monospace;
    }
    .readable{
        padding: 0px 10px 10px 10px;
        font-size: 16px;
        line-height: 24px;
    }
    img{
        width: 100%;
        margin: 10px 0px;
    }
    .table-edu{
        width: calc(100% - 20px);
        margin: auto;
        border: 1px solid #c0c0c0;
    }
    .col-1{
        width: 25%;
        padding: 10px;
        background: none;
        text-align: right;
        font-size: 20px;
        font-weight: 700;
    }
    .col-2{
        padding: 5px;
        background: none;
    }
    .table-edu-list{
        padding: 0px 0px 0px 20px;
    }
    .table-edu-list-item{
        padding: 5px 0px;
    }
    .table-edu-row:nth-child(odd){
        background: #212121;
    }
    /*
    .lista{
        max-width: 90%;
        margin: auto;
        padding-left: 20px;
    }
    video{
        width: 75%;
        margin: 0px calc(25% / 2);
    }
    .i-4{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
    .t-chico{
        padding: 0px 10px 10px 10px;
        color: #c8c8c8;
        font-size: 16px;
    }*/
}
@media screen and (min-width: 769px){
    .title-green{
        padding: 100px 20px 20px 20px;
        color: #3cf73c;
        font-family: 'Cambria console', Consolas, monospace;
        font-size: 50px;
    }
    .list-r{
        width: 70%;
        margin: 90px 20px 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .list-r-item{
        margin: 5px;
        padding: 10px;
        list-style: none;
        border: 1px solid #E1E1E1;
        border-radius: 10px;        
        color: #E1E1E1;
        font-size: 20px;
        font-family: Consolas, 'Courier New', monospace;
    }
    .readable{
        padding: 0px 20px 20px 20px;
        font-size: 16px;
        line-height: 24px;
    }
    img{
        width: 100%;
        margin: 10px 0px;
    }
    .table-edu{
        width: 80%;
        margin: auto;
        border: 1px solid #c0c0c0;
    }
    .col-1{
        width: 25%;
        padding: 10px;
        background: none;
        text-align: right;
        font-size: 24px;
        font-weight: 700;
    }
    .col-2{
        padding: 10px;
        background: none;
        font-size: 18px;
    }
    .table-edu-list{
        padding: 0px 0px 0px 20px;
    }
    .table-edu-list-item{
        padding: 10px 0px;
    }
    .table-edu-row:nth-child(odd){
        background: #212121;
    }
    /*
    .lista{
        max-width: 75%;
        margin: auto;
        padding-left: 20px;
    }
    img{
        width: 100%;
        margin: 10px 0px;
    }
    .esquemas{
        width: 50%;
        margin: 10px auto;
    }
    video{
        width: 50%;
        margin: 0px 25%;
    }
    .i-4{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
    .t-chico{
        padding: 0px 10px 10px 10px;
        color: #c8c8c8;
        font-size: 16px;
    }
    */
    @media (hover: hover){
        .list-r-item:hover{
            background: #c0c0c0;
            border: 1px solid #c0c0c0;
            color: #383838;
            font-weight: 700;
        }
    }
}