*{
    margin: 0px;
    font-family: Inter;
}
@media screen and (max-width: 425px) {
    h1{
        padding: 100px 10px 20px 10px;
    }
    h2, h3{
        padding: 0px 10px;
    }
    .texto-pequeño{
        color: #787878;
        font-size: 12px;
    }
}