*{
    margin: 0px;
    background: #383838;
    color: #fff;
    font-family: Inter, arial, sans-serif;
}
@media screen and (max-width: 425px) {
    h1{
        padding: 100px 10px 20px 10px;
        color: #3cf73c;
        font-family: 'Cambria console', Consolas, monospace;
    }
    h2, h3{
        padding: 0px 10px 10px 10px;
    }
    .rectangulos{
        width: 90%;
        margin: 60px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .rectangulos li{
        width: auto;
        margin: 5px;
        padding: 5px 10px 5px 10px;
        list-style: none;
        border: 1px solid #C8C8C8;
        border-radius: 5px;        
        color: #C8C8C8;
        font-size: 18px;
    }
    .t-educacion{
        width: 90%;
        margin: 0px auto;
        border-collapse: collapse;
    }
    .c1{
        width: 20%;
        padding: 5px;
        background: none;
        text-align: right;
        font-size: 18px;
        font-weight: 700;
    }
    .c2{
        width: 70%;
        padding: 20px 5px;
        background: none;
        font-size: 14px;
    }
    .c2 ul{
        padding-left: 10px;
    }
    .t-educacion tr:nth-child(odd){
        background: #212121;
    }
    .lista{
        max-width: 80%;
        margin: auto;
        padding-left: 20px;
    }
    img{
        width: 100%;
    }
    video{
        width: 50%;
        margin: 10px calc(25%);
    }
    .t-chico{
        padding: 0px 10px 10px 10px;
        font-size: 12px;
    }
}