*{
    margin: 0px;
    background: #383838;
    color: #fff;
    font-family: Inter, arial, sans-serif;
}
@media screen and (max-width: 480px) {
    h1{
        padding: 100px 10px 20px 10px;
        color: #3cf73c;
        font-family: Consolas, 'Courier New', monospace;
        /*
        font-family: 'Cambria code', Consolas, monospace;
        */
    }
    h2, h3{
        padding: 20px 5px 10px 10px;
    }
    .rectangulos{
        width: 90%;
        margin: 60px auto 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .rectangulos li{
        margin: 5px;
        padding: 5px 10px 5px 10px;
        list-style: none;
        border: 1px solid #C8C8C8;
        border-radius: 5px;        
        color: #C8C8C8;
        font-size: 18px;
    }
    .t-educacion{
        width: 90%;
        margin: 0px auto;
        border-collapse: collapse;
    }
    .c1{
        width: 20%;
        padding: 5px;
        background: none;
        text-align: right;
        font-size: 18px;
        font-weight: 700;
    }
    .c2 ul{
        background: none;
        padding-left: 20px;
    }
    .c2 ul li{
        background: none;
    }
    .t-educacion tr:nth-child(odd){
        background: #212121;
    }
    .lista{
        max-width: 80%;
        margin: auto;
        padding-left: 20px;
    }
    img{
        width: 100%;
        margin: 5px 0px;
    }
    video{
        width: 50%;
        margin: 10px calc(25%);
    }
    .i-4{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
    .t-chico{
        padding: 0px 10px 10px 10px;
        font-size: 12px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    h1{
        padding: 100px 10px 20px 10px;
        color: #3cf73c;
        font-family: 'Cambria console', Consolas, monospace;
        font-size: 34px;
    }
    h2, h3{
        padding: 10px;
    }
    .rectangulos{
        width: 75%;
        margin: 60px 20px 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .rectangulos li{
        margin: 5px;
        padding: 10px;
        list-style: none;
        border: 1px solid #C8C8C8;
        border-radius: 10px;
        color: #C8C8C8;
        font-size: 20px;
    }
    .t-educacion{
        border-collapse: collapse;
    }
    .c1{
        width: 20%;
        background: none;
        text-align: right;
        font-size: 20px;
        font-weight: 700;
    }
    .c2 ul{
        background: none;
        padding-left: 20px;
    }
    .c2 ul li{
        background: none;
    }
    .t-educacion tr:nth-child(odd){
        background: #212121;
    }
    .lista{
        max-width: 90%;
        margin: auto;
        padding-left: 20px;
    }
    img{
        width: 100%;
        margin: 10px 0px;
    }
    video{
        width: 75%;
        margin: 0px calc(25% / 2);
    }
    .i-4{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
    .t-chico{
        padding: 0px 10px 10px 10px;
        color: #c8c8c8;
        font-size: 16px;
    }
}
@media screen and (min-width: 769px){
    h1{
        padding: 100px 10px 20px 10px;
        color: #3cf73c;
        font-family: 'Cambria console', Consolas, monospace;
        font-size: 44px;
    }
    h2, h3{
        padding: 10px;
    }
    .rectangulos{
        width: 75%;
        margin: 60px 20px 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .rectangulos li{
        margin: 5px;
        padding: 10px;
        list-style: none;
        border: 1px solid #C8C8C8;
        border-radius: 10px;
        color: #C8C8C8;
        font-size: 20px;
    }
    .t-educacion{
        width: 60%;
        margin: auto;
        border-collapse: collapse;
    }
    .c1{
        background: none;
        text-align: right;
        font-size: 24px;
        font-weight: 700;
    }
    .c2{
        padding: 20px 10px;
        background: none;
        font-size: 18px;
    }
    .c2 ul{
        background: none;
        padding-left: 20px;
    }
    .c2 ul li{
        background: none;
    }
    .t-educacion tr:nth-child(odd){
        background: #212121;
    }
    .lista{
        max-width: 75%;
        margin: auto;
        padding-left: 20px;
    }
    img{
        width: 100%;
        margin: 10px 0px;
    }
    .esquemas{
        width: 50%;
        margin: 10px auto;
    }
    video{
        width: 50%;
        margin: 0px 25%;
    }
    .i-4{
        width: 49%;
        margin: 0px;
        padding: 0px;
    }
    .t-chico{
        padding: 0px 10px 10px 10px;
        color: #c8c8c8;
        font-size: 16px;
    }
    @media (hover: hover){
        .rectangulos li:hover{
            border: 1px solid #fff;
        }
    }
}