@tailwind base;
@tailwind components;
@tailwind utilities;

/* I cant put tailwind classes here */

@layer components {
  .bg-radial {
    background: radial-gradient(
      ellipse 80% 60% at 50% 70%,
      hsl(122, 50%, 15%),
      hsl(122, 50%, 10%) 20%,
      transparent 70%
    );
  }
  .name {
    @apply w-0 inline-block overflow-hidden whitespace-nowrap p-1 border-r-4 border-term text-5xl md:text-7xl font-mono font-[1000];
    animation:
      blink 0.8s steps(2, end) infinite,
      typing 1s steps(12, end) forwards;
  }
  .toast {
    @apply opacity-0 bg-gray fixed mx-auto w-11/12 sm:w-8/12 md:w-6/12 flex justify-center bottom-4 inset-x-0 rounded font-thin text-sm sm:text-base;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    to {
      border: none;
    }
  }
}
